.OrderList {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.order-cards-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.order-card {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    margin: 2px 10px;
    text-align: center;
    font-weight: bold;
}

.card-1 {
    background-color: rgb(0, 255, 238);
    color: rgb(0, 0, 0);
}

.card-2 {
    background-color: green;
    color: white;
}

.card-3 {
    background-color: yellow;
}

.card-4 {
    background-color: red;
    color: white;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th, .order-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.order-table th {
    background-color: #f2f2f2;
}

.order-table .status-delivered {
    background-color: rgba(1, 137, 1, 0.911);
    color: white;
}

.order-table .status-pending {
    background-color: rgba(255, 255, 0, 0.756);
}

.order-table .status-processing {
    background-color: rgba(19, 57, 224, 0.788);
    color: white;
}

.order-table .status-shipped {
    background-color: black;
    color: white;
}

.update-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
