.login-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-container h2 {
    text-align: center;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container label {
    margin-bottom: 10px;
  }
  
  .password-container {
    position: relative;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(0%);
    background: none;
    border: none;
  }
  
  .login-container input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-container input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .login-container p {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-container p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-container p a:hover {
    text-decoration: underline;
  }

  .google-signin-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .google-signin {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fcfdfdcb;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }

  
  .google-icon {
    height: 25px;
    margin-right: 0.5rem;
  }
  .signin-text {
    text-decoration: none;
  }
  .no-underline, .no-underline:visited, .no-underline:hover, .no-underline:active {
    text-decoration: none;
  }
  