/* ShoppingCart.css */

/* Base styles */
.items-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.items-list {
  width: 100%;
  max-width: 60%;
}

.item-card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.item-details {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative; /* Added */
}

.cart-item {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.cart-buttons {
  display: flex;
  align-items: center;
  position: absolute; /* Added */
  top: 10px; /* Adjusted */
  right: 10px; /* Adjusted */
}

.cart-delete{
  background-color: #eb3f30;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.cart-edit {
  background-color: #0ad7f3;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.quantity-controls {
  display: flex;
  align-items: baseline;
  position: absolute; /* Added */
  bottom: 10px; /* Adjusted */
  right: 10px; /* Adjusted */
}

.quantity-controls button {
  background-color: rgb(14, 167, 223);
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 6%;
  border-radius: 5px;
}

.shopping-bag-summary {
  width: 100%;
  max-width: 35%;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.proceedtopayment {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  margin-top: 0;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .items-list {
    max-width: 100%;
  }

  .shopping-bag-summary {
    max-width: 100%;
    margin-top: 20px;
  }
}
